.club{
    background-image: url(./th6.jpg);
    background-size: cover;
}
h1{
    margin-left: 400px;
    font-style:oblique;
    font-size: 80px;
    color: black;
}
.logos{
    text-align: center;
}